/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

/* prettier-ignore */
*, *:before,*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
/* ------ VARIABLES ------ */

:root {
  --clr-blue: #1992d4;
  --clr-backing-grey: #e2e8f0;
  --clr-text-grey: #636363;
  --clr-accent: #f0b429;

  --padding-xsml: 0.5rem;
  --padding-sml: 0.75rem;
  --padding-med: 1.5rem;
  --padding-lge: 2.5rem;
  --padding-xlge: 4rem;
}

/* ------ MAIN ------ */

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

nav {
  background-color: var(--clr-blue);
  color: white;

  grid-row: 1 / 3;
  padding: var(--padding-med) var(--padding-sml);

  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: var(--padding-xlge);
}

nav i {
  width: 4rem;
  text-align: center;
}

i + p {
  margin-left: var(--padding-xsml);
}

nav a:active {
  color: var(--clr-accent);
}

.nav-title {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  align-items: center;
}

.nav-title i {
  font-size: 2.5rem;
}

.page-nav,
.meta-nav {
  font-size: 1.5rem;
  font-weight: 500;
}

.page-nav i,
.meta-nav i {
  font-size: 1.25rem;
}

nav li:not(li:last-child) {
  margin-bottom: var(--padding-med);
}

nav li a {
  display: flex;
  width: fit-content;
  align-items: center;
}

.credits {
  align-self: flex-end;
  justify-self: center;
}

.credits li {
  display: flex;
  justify-content: center;
}

.credits a {
  font-style: italic;
}

/* ------ ANIMATIONS ------ */

.page-nav a,
.meta-nav a {
  position: relative;
}

.page-nav a::before,
.meta-nav a::before {
  position: absolute;
  content: '';
  background-color: white;
  top: calc(55% - 1px);
  bottom: calc(45% - 2px);
  left: -20px;
  right: 95%;
  opacity: 0;
  transition: opacity 200ms ease;
}

.page-nav a::after,
.meta-nav a::after {
  position: absolute;
  content: '';
  background-color: white;
  top: calc(55% - 1px);
  bottom: calc(45% - 2px);
  right: -30vw;
  left: 110%;
  opacity: 0;
  transition: opacity 200ms ease;
}

.page-nav a:hover::before,
.meta-nav a:hover::before,
.page-nav a:hover::after,
.meta-nav a:hover::after {
  opacity: 1;
}

.page-nav a:active::before,
.meta-nav a:active::before,
.page-nav a:active::after,
.meta-nav a:active::after {
  background-color: var(--clr-accent);
}
